/*====================================================================RESETAR CONFIGURAÇÕES DE PAGINA PREÉSTABELECIDAS==============================================================================================*/
html, body{
    height:100%;
    width: 100%;
}
html {
  line-height: 1.15; 
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body{
    background: rgb(9,69,147);
    background: linear-gradient(120deg, rgba(9,69,147,1) 0%, rgba(30,91,164,1) 38%, rgba(87,179,190,1) 86%);
    background-attachment: fixed;
}

/*===============================================================================MENU PRINCIPAL=====================================================================================================================*/
nav img{
    width: 3.5rem;
    height: 3.5rem;
}
#cmenu{
    margin-left:18%;
    margin-right:18%;
}
.menu{
    background-color: #F7F8FF;
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: fixed;
    width: 100%;
    height:8%;
    text-align: center;
    z-index: 1;
}
.menu li{
    font-family: 'Fjalla One', sans-serif;
    font-size:20px;
    display: inline-block;
    margin-left:5%;
    margin-right:5%;
}
.menu ul{
    display: flex;
    width:125%;
    text-align: center;
}
.menu a{
    position: relative;
    display: block;
    background-color: #F7F8FF;
    color: black;
    text-decoration: none;
    border-bottom: 3px solid #EDEDED;
}
.menu a:hover{
    background-color:#EFF0FE;
    color: #6D6D6D;
    border-bottom: 3px solid #639CFF;
    border-radius: 20px;
}
.homepage{
    margin-top:-50%;
}

/*===============================================================================BLOCO PRINCIPAL=====================================================================================================================*/
.container{
    background-color:white;
    border-radius: 20px;
    position:relative;
    top:15%;
    opacity: 0.95;
    z-index: 0;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px lightblue;
}
h3, dl, tr{
    font-family: 'Quicksand', sans-serif;
    font-size:30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px lightblue;
}
p, dd, td{
    font-family: 'Montaga', serif;
    font-size: 20px;
    font-weight: normal;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}
/*=====================================================================================INDEX=====================================================================================================================*/
.container#index{
    margin-left: 5%;
    margin-right:5%;
}
/*============================================PERFIL======================================================*/
#perfil{
    width: 60%;
    border: 2px outset #f5f5f5;
    position:relative;
    margin-left:20%;
    margin-right:20%;
}
#perfilimg{
    text-align: center;
}
#perfilimg img{
    border-radius:100px;
    transition: all 1s ease;
}
#perfilimg img:hover{
    box-shadow: 3px 3px gray;
    transform: scale(1.1);
}
#perfiltext h3{
    text-align: center;
    margin-bottom:5px;
}
#perfiltext h4{
    margin-top: 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
#texto{
    width:100%;
    display: flex;
    justify-content: space-between;
}
/*============================================JAVA======================================================*/
#javatext{
    width:50%;
    border: 2px #f5f5f5 outset;
    margin:10px;
}
#bloco1, #bloco2, #bloco3{
    width:100%;
}
#greenteam{
    width:40%;
    height:20%;
}
.block h1{
    text-align: center;
    font-size:30px;
    font-family: 'Quicksand', sans-serif;
}
.block p, ul, li{
    font-family: 'Montaga', serif;
    text-align: justify;
    font-size: 20px;
    list-style:disc;
}
#greenteam{
    height:300px;
    width:400px;
    margin-left:15%;
    margin-bottom:5%;
    position: relative;
    transition: all 1s ease;
    
}
#greenteam:hover{
    box-shadow: 5px 5px gray;
}
/*============================================CISTERNAS======================================================*/
#cisternatext{
    width:50%;
    border: 2px #f5f5f5 inset;
    margin:10px;
}
#bloco4, #bloco5, #bloco6{
    width:100%;
}

iframe{
    position:relative;
    margin-left:7%;
    margin-bottom:10%;
    
}
/*=====================================================================================DOWNLOAD=====================================================================================================================*/
.funcionalidades{
    font-size: 20px;
    font-family: 'Montaga', serif;
    text-align: justify;
    padding-right: 50px;
    
}
#download{
    font-size: 25px;
    text-decoration: none;
    color:#5A74E8;
}
/*===============================================================================VANTAGENS E DESVANTAGENS=========================================================================================================*/
table{
    position: relative;
    display: block;
    width: 90%;
    border:none;
    align-content: center;
    left: 60px;
    margin-bottom: 20px;
    
}
.vantagem{
    width:50%;
    background-color:#FFF;
    border: none;
}
.desvantagem{
    width:50%;
    background-color:#FFF;
    border: none;
}
td{
    background-color:#FFF;
    border: none;
}
/*===================================================================================FORMULÁRIO=====================================================================================================================*/
.botao{
    border-radius: 50px;
    font-family: 'fjalla one', sans-serif;
    background-color:#6EB1FF;
    position:relative;
    bottom:-10px;
    right: -10px;
}
.botao:hover{
    cursor:pointer;
}
#dados{
    width:35%;
    height: 30%;
    position: relative;
    left: 400px;
}
#endereco{
    width:35%;
    height: 30%;
    position: relative;
    left: 400px;
}
#modelo{
    width:35%;
    height: 50%;
    bottom: 80%;
    position: relative;
    left:400px;
}
.botoes{
    position: relative;
    float: right;
    bottom: -95px;
    right: 0px;
}
legend{
    font-style:bold;
    font-family: 'Inconsolata', monospace;
    color: #0555EB;
}
label, input, select, textarea{
    font-family: 'Inconsolata', monospace; 
}
input:focus, select:focus, textarea:focus{
    box-shadow: inset 0 0 0.5em lightblue, 0 0 0.2em blue;
}
fieldset{
    border: 1 #639EFF;
}
/*===================================================================================APLICAÇÕES e TIPOS DE CISTERNAS================================================================================================*/
.aplic{
    transition: all 0.8s ease;   
}
.aplic:hover{
    transform: scale(1.2);
}
.apps, .tipos{
    display: flex;
    justify-content: space-between;
}
.text1{
    width: 70%;
    position:relative;
}
.img1{
    position: relative;
    padding-right: 50px;
    bottom: 50px;
}
.text2{
    width:70%;
    position: relative;
}
.img2{
    position: relative;
    padding-left: 50px;
    bottom: 50px;
}
.tipoimg1{
    position: relative;
    border-radius: 40px;
    left: 50px;
    bottom: 50px;
    transition: all 1s ease; 
}
.tipotext1{
    width: 70%;
    position: relative;
}
.tipoimg2{
    position: relative;
    border-radius: 40px;
    right: 50px;
    bottom: 50px;
    transition: all 1s ease; 
}
.tipotext2{
    width: 70%;
    position: relative;
}
.tipoimg1:hover{
    transform: rotate(-10deg)
                scale(1.1);
    border: solid #6EB1FF;
}
.tipoimg2:hover{
    transform: rotate(10deg)
                scale(1.1);
    border: solid #6EB1FF;
}
/*=========================================================================================================FAQ====================================================================================================*/
.pgt{
    text-align: left;
    position: relative;
    margin-left: 50px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(67,158,219,0.3743872549019608) 16%, rgba(251,251,255,1) 100%);
}
.pgt:hover{
    color: #3F55B5;
}
.pergunta:hover{
    cursor: pointer;
}
#r1, #r2, #r3, #r4, #r5{
    display: none;
    width: 100%;
}
#r1.active, #r2.active, #r3.active, #r4.active, #r5.active{
    display: block;
    width: 100%;
}
#p5{
    padding-bottom:1px;
}
/*=================================================================================================FOOTER=========================================================================================================*/
footer{
    margin-top:10%;
    width:100%;
    left:0;
    right:0;
    bottom:0;
}
#copyright{
    background-color: #1B1A52;
    width: 100%;
    height: 50px;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0;
    position: relative;
    bottom: 0;
}
#esquerda{
    position: relative;
    padding-left:15px;
}
#direita{
    position: relative;
    padding-right:15px;
}
.autor{
    background-color: #1B1A52;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 35px;
    list-style: none;
    display: flex;
    float: right;
    justify-content:flex-end;
    align-items: center;
    margin:0;
}
.autor li{
    padding-right: 3px;
    padding-left:3px;
    position: relative;
    display: inline-block;
    float: right;
    right: 20px;
    transition: all 0.2s ease;
}
.autor li:hover{
    transform: scale(0.9);
}
#informacoes{
    background-color: #1B1A52;
    display: flex;
    color: white;
    padding-top: 0;
    text-align: justify;
    position: relative;
    height: 150px;
    bottom:0px;
    margin-bottom:0;
    margin-top: 0;
    width:100%;
    right:0;
}
.footer-sobre{
    width: 20%;
    margin-top:0;
}
#question{
    margin-left:560px;
}
.footersobre{
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    padding-left: 0;
    margin-top:-5px;
    padding-top:10px;
}
.footersobre h5{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    padding-left: 0;
    left: 10px;
    margin-top:0;
    padding-top:10px;
}
.footersobre2{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
    position: relative;
    left: 10px;
    padding-left: 0;
}